@model SitioPersona.Models.Producto

@{
    ViewData["Title"] = "Borrar producto";
}

<h1>Borrar producto</h1>

<div class="card-body">
    <form asp-controller="Producto" asp-action="Delete" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <input type="hidden" asp-for="IdProducto" />
        <div class="form-group">
            <label class="control-label">Codigo de producto</label>
            <input asp-for="IdProducto" class="form-control" readonly />
            <span asp-validation-for="IdProducto" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Nombre" class="control-label"></label>
            <input asp-for="Nombre" class="form-control" readonly />
            <span asp-validation-for="Nombre" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="ValorUnitario" class="control-label"></label>
            <input asp-for="ValorUnitario" class="form-control" readonly />
            <span asp-validation-for="ValorUnitario" class="text-danger"></span>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-success">Borrar producto</button>
        </div>

    </form>
    <div>
        <a asp-action="ListaProducto" class="btn btn-secondary">Volver a lista</a>
    </div>
</div>
